.logo {
  background-color: #808080;
  margin-right: 44px;
}
.vector {
  margin-right: 12px;
}
.serv {
  margin-right: 43px;
}
.vecto {
  margin-right: 12px;
}
.serv2 {
  margin-bottom: 16000px;
  margin-right: 669px;

}
